* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: column;
}
.buttonsContainer {
  visibility: visible;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  z-index: 1;
  width: 30%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 50px;
  grid-area: 1/2/3/2;
}
.character {
  z-index: 1;
  width: 100%;
  grid-area: 1/1/3/4;

  box-sizing: border-box;
}
.character > img {
  width: 100%;
}
#corazoncito:hover {
  transform: scale(1.3);
  cursor: pointer;
}
#corazoncito:active {
  transform: scale(0.7);
}
#estrellita:hover {
  cursor: pointer;

  transform: scale(1.3);
}
hr {
  border: 2px solid black;
}
/* SVG SELECTORS */
.fondo {
  /* transition: reverse 3s; */
  fill: none;
  /* animation: disolver infinite 3s; */
}
.borde {
  fill: #707070;
}
@keyframes disolver {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formularioContainer {
  /* grid-area:
  <name> | <row-start>
  / <column-start> /
  <row-end> / <column-end>; */
  z-index: 5;
  width: 70%;
  height: 50%;
  /*  cambiar a grid-area: 1/2/6/5; */
  grid-area: 2/2/6/5;
  background-color: white;
  border: 5px solid black;
}
