* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  );
  grid-auto-rows: auto;
  grid-auto-flow: column;
}
.buttonsContainer {
  visibility: visible;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  z-index: 1;
  width: 31%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 50px;
  grid-area: 1/2/3/2;
}
.character {
  z-index: 1;
  width: 100%;
  grid-area: 1/1/3/4;

  box-sizing: border-box;
}
.character > img {
  width: 100%;
}

#corazoncito:hover {
  transform: scale(1.3);
  cursor: pointer;
}
#corazoncito:active {
  transform: scale(0.7);
  transition: all 0.3s;
}
/* ESTRELLA START */
.bordeEstrellita {
  fill: #707070;
}
.fondoEstrellita {
  fill: #e1338b;
}

#estrellita {
  width: 50px;
}
#estrellita:hover {
  cursor: pointer;

  transform: scale(1.3);
}
#estrellita:active {
  transform: scale(0.7);
  transition: all 0.3s;
}
/* ESTRELLA ENDS */

hr {
  border: 2px solid black;
}
/* CORAZON START- SVG SELECTORS */
.fondoCorazon {
  /* transition: reverse 3s; */
  fill: none;
  /* animation: disolver infinite 3s; */
}
.bordeCorazon {
  fill: #707070;
}
/* CORAZON ENDS */

@keyframes disolver {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formularioContainer {
  /* grid-area:
  <name> | <row-start>
  / <column-start> /
  <row-end> / <column-end>; */
  z-index: 5;

  width: 45%;
  height: 50%;
  /*  cambiar a grid-area: 1/2/6/5; */
  grid-area: 2/2/5/5;
  visibility: hidden;
  /* border: 5px solid black; */
}

.formularioContainer svg {
  width: 100%;
}
#cerrar_icon_8 {
  cursor: pointer;
}
#cerrar_icon_8:active {
  transform: scale(1.2);
  transition: all 1s;
}
#cambiaColorYelllow {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #e1338b;
  border-radius: 20px;
  font-weight: bold;
}
#cambiaColorYelllow:active {
  transform: scale(1.2);
}
